@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root{
    --yellow-theme-background-color: #000;
    --yellow-theme-main-color: #ffdd40;
    --yellow-theme-text-color:#ffffff;
    --yellow-theme-nav-background-color:yellow ;
    --yellow-theme-nav-text-color: #000;
    --font-family: 'Orbitron', sans-serif;

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    height: 100%;

}
body{
    height: 100%;
    background: var(--yellow-theme-background-color);
    font-family: var(--font-family);
}
#root{
    height: 100%;
}